body {
  padding: 5%;
}

.main-buttons {
  margin: 1em 1em 2em 1em;
}

.NameS {
  visibility: visible;
  opacity: 1;
  transition: visibility 500ms ease-in 0, opacity 300ms;
}

.NameH {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in 300ms, opacity 300ms;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 500ms ease-in 0, opacity 300ms;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in 300ms, opacity 0;
}
